#BookingContainer{
    display: block;
    background-color: #49111C;
    margin: 5px;
    border-radius: 10px;
    padding-top: 0.5%;
}

#DatePicker1{
    margin-top: 5%;
    font-size: 25px;
    background-color: beige;
    border-radius: 20px;
    padding-left: 75px;
    width: 200px;
}

#DatePick{
    align-items: center;
    justify-content: center;
    margin-left: 25%;
}

#NumberOfPeople{
    margin-left: 38%;
    width: 50%;
}

#NoOfPeople{
    font-size: 50px;
    color: whitesmoke;
}

#BookingDatep{
    font-size: 35px;
    color: whitesmoke;
    margin: 0;
}

#People{
    font-size: 40px;
    border-radius: 15px;
    background-color: beige;
    color: #5E503F;
    padding-left: 10px;
}

#People:hover{
    cursor: pointer;
}

#BookingLayout{
    position: relative;
}

#LayoutImage{
    width: 60%;
    margin-left: 20%;
    margin-top: 1%;
}

#FourTablePointer{
    font-size: 30px;
    position: absolute;
    color: whitesmoke;
    top: 25.5%;
    left: 4%;
}

#TwoTablePointer{
    font-size: 30px;
    position: absolute;
    color: whitesmoke;
    top: 52%;
    left: 4%;
}

#TwoTablePointerLines{
    font-size: 30px;
    position: absolute;
    color: black;
    top: 52%;
    left: 20%;
}

#TwoTablePointerArrow{
    font-size: 40px;
    position: absolute;
    color: black;
    top: 50.5%;
    left: 34.2%;
}

#BarPointer{
    font-size: 30px;
    position: absolute;
    color: whitesmoke;
    top: 82%;
    left: 13%;    
}

#BarPointerLines{
    font-size: 30px;
    position: absolute;
    color: black;
    top: 82%;
    left: 21%;
}

#FiveTablePointer{
    font-size: 30px;
    position: absolute;
    color: whitesmoke;
    top: 28%;
    left: 80%;
}

#FiveTablePointerLines{
    font-size: 30px;
    position: absolute;
    color: black;
    top: 28%;
    left: 67%;
}

#EightTablePointer{
    font-size: 30px;
    position: absolute;
    color: whitesmoke;
    top: 56%;
    left: 80%;
}

#EightTablePointerLines{
    font-size: 30px;
    position: absolute;
    color: black;
    top: 56%;
    left: 67%;
}

#ThreeTablePointer{
    font-size: 30px;
    position: absolute;
    color: whitesmoke;
    top: 97.5%;
    left: 80%;
}

#ThreeTablePointerLines{
    font-size: 30px;
    position: absolute;
    color: black;
    top: 97.5%;
    left: 77.7%;
}

.FourSeat{
    background-color: seagreen;
    font-size: 40px;
    border: none;
    border-radius: 10px;
    color: whitesmoke;
    padding: 0 40px 0 40px;
    position: absolute;
}

.FourSeat:hover{
    cursor: pointer;
     
}

#FourSeat1{
    left: 21.6%;
    top: 9.5%;
}


#FourSeat2{
    left: 21.6%;
    top: 28%;
}


#FourSeat3{
    left: 21.6%;
    top: 46%;
}

#FourSeat4{
    left: 43.4%;
    top: 9.5%;
}


#FourSeat5{
    left: 43.4%;
    top: 28%;
}


#FourSeat6{
    left: 43.4%;
    top: 46%;
}

.TwoSeat{
    background-color: seagreen;
    font-size: 40px;
    border: none;
    border-radius: 50%;
    color: whitesmoke;
    padding: 0 24px 0 24px;
    position: absolute;
}

.TwoSeat:hover{
    cursor: pointer;
     
}

#TwoSeat1{
    left: 33.4%;
    top: 9.7%;
}

#TwoSeat2{
    left: 33.4%;
    top: 27.9%;
}

.FiveSeat{
    background-color: seagreen;
    font-size: 40px;
    border: none;
    border-radius: 15px;
    color: whitesmoke;
    padding: 5px 60px 5px 60px;
    position: absolute;
}

.FiveSeat:hover{
    cursor: pointer;
     
}

#FiveSeat1{
    left: 50.2%;
    top: 12.2%;
}

#FiveSeat2{
    left: 60.6%;
    top: 12.2%;
}

.EightSeat{
    background-color: seagreen;
    font-size: 40px;
    border: none;
    border-radius: 15px;
    color: whitesmoke;
    padding: 8px 120px 8px 120px;
    position: absolute;
}

.EightSeat:hover{
    cursor: pointer;
     
}

#EightSeat1{
    left: 53.8%;
    top: 40.5%;
}

.ThreeSeat{
    background-color: seagreen;
    font-size: 40px;
    border: none;
    border-radius: 50%;
    color: whitesmoke;
    padding: 0 24px 0 24px;
    position: absolute;
}

.ThreeSeat:hover{
    cursor: pointer;
}

#ThreeSeat1{
    left: 50.78%;
    top: 83.5%;
}

#ThreeSeat2{
    left: 56.74%;
    top: 83.5%;
}

#ThreeSeat3{
    left: 62.74%;
    top: 83.5%;
}

#ThreeSeat4{
    left: 68.72%;
    top: 83.5%;
}

#ThreeSeat5{
    left: 74.7%;
    top: 83.5%;
}

#AdminTableSubmit{
    background-color: goldenrod;
    width: 80%;
    font-size: 50px;
    margin-left: 10%;
    border-radius: 20px;
    margin-top: 7%;
    border: none;
}

#AdminTableSubmit:hover{
    cursor: pointer;
    color: whitesmoke;
    background-color: #49111C;
}

#mainDialog{
    width: 40%;
    height: 40%;
    border-radius: 25px;
    color: #49111C;
    border: solid 5px #49111C;
}

#DialogCloseButton{
    background-color: #49111C;
    right: 3%;
    top: 3%;
    padding: 1%;
    color: #f4f2f3;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    position: absolute;
}

#DialogCloseButton:hover{
    cursor: pointer;
    background-color: goldenrod;
    color: black;
}

#AvailableButton{
    width: 35%;
    margin-left: 10%;
    margin-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 40px;
    border-radius: 20px;
    border: none;
    background-color: seagreen;
    color: #f4f2f3;
}

#AvailableButton:hover{
    cursor: pointer;
    background-color: goldenrod;
}

#ReservedButton{
    width: 35%;
    margin-left: 5%;
    margin-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 40px;
    border-radius: 20px;
    border: none;
    background-color: red;
    color: #f4f2f3;
}

#ReservedButton:hover{
    cursor: pointer;
    background-color: goldenrod;
}

#TimeSelectMenus{
    display: flex;
    margin-top: 5%;
    border-radius: 20px;
}

#TimeStarting{
    margin-left: 10%;
    margin-right: 5%;
    width: 35%;
}

.allSelects{
    padding: 3%;
    margin-left: 3%;
    margin-top: 6%;
    margin-bottom: 6%;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #49111C;
}

.allSelects:hover{
    cursor: pointer;
}

#TimeEnding{
    margin-left: 5%;
    margin-right: 10%;
    width: 35%;
}